
@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400&family=Cormorant+SC:wght@400;500;600;700&family=Dosis&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;500&family=Staatliches&display=swap');

details > summary {
    border: none;
    cursor: pointer;
    list-style: none;
}

details:hover{
    color:rgb(255, 193, 127);
}

summary{
    font-weight: bold;
    margin-bottom:5px;
}

summary::marker {
    display:none;
  }


#fait .item{
    background-color: rgba(16, 143, 7, 0.2);
    margin : 2px;
    padding:10px 2px;
    color:rgb(60, 60, 60);
}

#encours .item{
    background-color: rgb(255, 193, 127, 0.2);
    margin : 2px;
    padding:10px 2px;
    color:rgb(60, 60, 60);
}

#afaire .item{
    background-color: rgba(247, 124, 96, 0.2);
    margin : 2px;
    padding:10px 2px;
    color:rgb(60, 60, 60);
}

.item:active{
    background-color: rgb(255, 193, 127);
    color:white;
}
.box{
    margin:10px;
    width:200px;
    height:100%;
}

.borderbox{
    margin:6px;
    text-align: center;
}

.drop-targets{
    width:100%;
    display: flex;
}

.drag-over {
    border: dashed 2px rgb(60, 60, 60);
}



