

@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400&family=Cormorant+SC:wght@400;500;600;700&family=Dosis&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;500&family=Staatliches&display=swap');

:root{
/* transition:smooth; */
}

html{
    margin:0;
    padding:0;
    width:100%;
    
}

h1{
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: rgb(213, 154, 81);
    font-size: 1.2rem;
}

#admin-bloc{
    font-family: 'Dosis', sans-serif;

}

.name-users{
    margin:0;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

/* SPLASH SCREEN */
#content-toast{
        position: fixed;
        top: 80%;
        width: 50%;
        z-index: 1000;
}
#toast-screen{
    display:none;
    border-radius:15px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;    
    height:fit-content;
    position: absolute;
    top: 80%;
    left: 40%;
    right:40%;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    letter-spacing :0.1rem;
    padding:1%;
    color: rgb(213, 154, 81, 1);
    background-color: azure;
    text-shadow: 0px 0px 3px rgb(213, 154, 81, 1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

@keyframes appear {
    from { opacity: 0.5;}
    to { opacity: 1;}
}





header{
    width:100%;
}

nav {
    font-family: 'Dosis', sans-serif;
    display: flex;
    position: absolute;
    inset: 0;
    padding: 3rem;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    color:white;
    background: rgba(102, 94, 85, 0.9);
}

nav > li:not([role="icon-button"]) {
    background: none;
    outline: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.9rem;
    line-height: 3rem;
    margin: 2rem 0;
    list-style-type: none;
}

nav > li:not([role="icon-button"]) a{
    color:var(--grad-favorite);
    text-decoration: none;


}


[hidden] {
    display: none !important;
} 

#menuButton {
    background: none;
    color: rgb(0, 0, 0);
    border: 0;
    font-size: 60px;
    width: 60px;
    height: 60px;
}

#menuButton .material-icons {
    width: 100%;
    height: 100%;
    font-size: 48px;
}


nav > button[role="icon-button"] {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color:rgb(84, 76, 65);
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    left: 1rem;
    z-index: 20;
    border:none;
}

nav > li[role="icon-button"]:hover {
    background: white;
}

input{
    width:90%;
    margin:1%0%3%0%;
    height:40px;
    border:none;
    border-style:none;
    border-bottom: 2px solid rgba(164,113,75,0.33);;
}

input:hover{
    border-style:none;
    border-bottom: 2px solid rgba(219, 125, 54, 0.33);
    outline: none;
}


input:focus{
    border-top:none;
    outline: none;
    background-color: rgba(239, 191, 170, 0.2);
}

.submit{
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    background-color: rgba(239, 191, 170, 0.2);
    border:none;
}



/* MOBILE FIRST */
@media (max-width: 460px) {

                /* 
            ***** MOBILE VERSION FIRST ****
            */

    body{
        width:100%;
        font-family: 'Dosis', sans-serif;
    }

    /* nav{
        display:none;
    }  */

    nav > li:not([role="icon-button"]) {
        background: none;
        outline: none;
        border: none;
        color: rgb(255, 255, 255);
        font-size: 1.9rem;
        line-height: 3rem;
        margin: 0.5rem 0;
        list-style-type: none;
    }

    form{
        display:flex;
        flex-direction: column;
        width:80%;
        margin:1%0%;
        padding:20px;
        margin:60px 0px 50px 0px;

        /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
        box-shadow: rgba(98, 133, 154, 0.2) 0px 30px 20px -7px;
        font-family: 'Dosis', sans-serif;
        letter-spacing: 0.05rem;
    }

    input{
        width:90%;
        margin:1%0%3%0%;
        height:40px;
        border-style:none;
        border-bottom: 2px solid rgba(164,113,75,0.33);
    }

    input:focus{
        width:90%;
        margin:1%0%3%0%;
        height:40px;
        border-style:none;
        outline: none;
        border-bottom: 2px solid rgba(164,113,75,0.33);
    }

    input:active{
        width:90%;
        margin:1%0%3%0%;
        height:40px;
        border-style:none;
        outline: none;
        border-bottom: 1px solid rgba(164,113,75,0.33);
    }



}


        /* 
        *************************
        ************************
        *****DESKTOP VERSION ****
        ************************
        *************************    
        */



@media (min-width: 460px) {



        
        nav {
            display: flex;
            width:100%;
            flex-direction: row;
            height: 54px;
            position: relative;
            padding: 0;
            background: none;
            margin-bottom: 30px;
            justify-content: center;
            border-bottom: 1px solid rgba(241, 153, 45, 0.7);
        }
    
        nav > li:not([role="icon-button"]) {
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--police-title);
            font-weight: 900;
            letter-spacing:0.1em;
            margin-right:2%;
            color:rgb(78, 75, 77);   
        }


    
        nav > button[role="icon-button"] {
            display: none;
        }
        
        nav > button {
            padding-left: 20px;
        }

        #menuButton .material-icons {
            width: 100%;
            height: 100%;
            font-size: 48px;
            display: none;
        }

        #menuButton {
            display:none;
        }
    
    

    

        /* HOME PAGE */

    li{
        list-style-type: none;
        color: var(--grad-grey);
    }

    a{
        text-decoration: none;
        font-size: 1.2rem;
    }
    .menulink:hover{
        text-decoration: none;
        color: var(--grad-favorite-hover);
    }

    /* update form css */
    form{
        display:flex;
        flex-direction: column;
        width:50%;
        margin:60px 0px 50px 0px;
        padding:20px;
        /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
        box-shadow: rgba(98, 133, 154, 0.2) 0px 60px 40px -7px;
        font-family: 'Dosis', sans-serif;
        letter-spacing: 0.05rem;
    }

    input{
        width:90%;
        margin:1%0%3%0%;
        height:40px;
        border-style:none;
        border-bottom: 2px solid rgba(164,113,75,0.33);;
    }

    input:hover{
        border-style:none;
        outline: none;
        border-bottom: 2px solid rgba(219, 125, 54, 0.33);
    }


    input:focus{
        border-style:none;
        outline: none;
        background-color: rgba(239, 191, 170, 0.2);
    }



    .module-form{
        display: flex;
        flex-direction: column;
    }






}